@import "./styles/blocks/header.css";
@import "./styles/blocks/hero.css";
@import "./styles/blocks/about.css";
@import "./styles/blocks/advantages.css";
@import "./styles/blocks/why-us.css";
@import "./styles/blocks/stake.css";
@import "./styles/blocks/footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  overflow-x: hidden;
}

.burger-menu ul li .buttons {
  display: flex;
  gap: 15px;
}

.burger-menu ul li .buttons .header__button {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;

  width: 155px;
  height: 39px;

  background: #111111;
  border: 1px solid #a962ff;
  border-radius: 15px;
  cursor: pointer;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}

@media (min-width: 320px) {
  .container {
    padding-inline: 10px;
  }
  
}

@media (min-width: 1024px) {
  .nav-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .desktop-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .desktop-menu a:hover {
    text-decoration: underline;
  }

  .buttons {
    margin-left: 20px;
    display: flex;
    gap: 15px;
  }

  .buttons button {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;

    width: 155px;
    height: 39px;

    background: #111111;
    border: 1px solid #a962ff;
    border-radius: 15px;
    cursor: pointer;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #ffffff;
  }

  .buttons button:hover {
    background-color: #555;
  }
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
}

.logo {
  font-size: 24px;
}

.burger-menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 20px 0;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.burger-menu ul {
  list-style: none;
  text-align: center;
}

.burger-menu li {
  margin: 15px 0;
}

.burger-menu a,
.burger-menu button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.burger-menu a:hover,
.burger-menu button:hover {
  text-decoration: underline;
}

/* Відображаємо бургер-меню іконку на мобільних */
@media (max-width: 1024px) {
  .burger-menu-icon {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
}

/* Показуємо бургер-меню при відкритті */
.burger-menu.open {
  position: sticky;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
}

.burger-menu.open ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.burger-menu.open ul li {
  display: flex;
  gap: 20px;
}

.menu-link {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-link:active::before {
  content: '';
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #9945FF;
}

@media (min-width: 1024px) {
}

.section__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 120%;
  letter-spacing: -2px;

  color: #ffffff;
}

.button {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  cursor: pointer;

  width: 340px;
  height: 59px;

  background: linear-gradient(98.88deg, #8c01fa -2.99%, #18002b 102.28%);
  border-radius: 50px;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition-duration: .2s;

  color: #ffffff;
}

.button:hover {
  transform: scale(1.1);
}


.animate-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.animate-up.visible {
  opacity: 1;
  transform: translateY(0);
}