@import "./styles/blocks/hero.css";
@import "./styles/blocks/about.css";
@import "./styles/blocks/advantages.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  padding-inline: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

.logo {
  font-size: 24px;
}

.burger-menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 20px 0;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.burger-menu ul {
  list-style: none;
  text-align: center;
}

.burger-menu li {
  margin: 15px 0;
}

.burger-menu a,
.burger-menu button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.burger-menu a:hover,
.burger-menu button:hover {
  text-decoration: underline;
}

/* Відображаємо бургер-меню іконку на мобільних */
@media (max-width: 1024px) {
  .burger-menu-icon {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
}

/* Показуємо бургер-меню при відкритті */
.burger-menu.open {
  position: sticky;
  top: 60px;
  display: block;
  transform: translateY(0);
}

/* Стилі для великого екрану (від 1024px) */
@media (min-width: 1024px) {
  .nav-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .desktop-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .desktop-menu a:hover {
    text-decoration: underline;
  }

  .buttons {
    margin-left: 20px;
  }

  .buttons button {
    color: white;
    background-color: #444;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
  }

  .buttons button:hover {
    background-color: #555;
  }
}

.section__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 120%;
  letter-spacing: -2px;

  color: #ffffff;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  width: 340px;
  height: 59px;

  background: linear-gradient(98.88deg, #8c01fa -2.99%, #18002b 102.28%);
  border-radius: 50px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
