@media (min-width: 320px) {
  .about {
    margin-bottom: 120px;
    z-index: 5;
  }

  .about__subtitle {
    margin-top: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;

    color: #ffffff;

    margin-bottom: 15px;
  }

  .about__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #c4c4c4;
    margin-bottom: 30px;
  }

  .about__video {
    width: 100%;
    height: auto;
  }

  .about__video--desc {
    display: none;
  }

  .about__desctop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .about {
    position: relative;
  }
  .about__inner {
    display: none;
  }

  .about__desctop {
    display: block;
    position: absolute;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: end;

    gap: 50px;
    width: 95%;
  }

  .about__desctop--left {
    width: 550px;
  }

  .about__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .about__text {
    font-size: 22px;
  }

  .about__desctop .section__title {
    font-size: 49px;
    margin-bottom: 50px;
  }

  .about__video--desc {
    display: block;
    width: 60%;
    height: auto;
    z-index: 5;
    border-radius: 30px 0px 0px 30px;
  }

  .about__video {
    display: none;
  }
}
