@media (min-width: 320px) {
  .stake__title {
    margin-bottom: 20px;
    text-align: center;
  }

  .stake__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    color: #ffffff;
    margin-bottom: 30px;
  }

  .stake__text.stake__button {
    cursor: pointer;
  }

  .stake__tape {
    overflow: hidden;
    position: absolute;
    transform: rotateX(220deg);
    top: 4620px;
    left: -80px;
  }
}

@media (min-width: 1024px) {
  .stake__tape {
    display: none;
  }

  .stake .section__title {
    font-size: 68px;
    margin-bottom: 20px;
  }

  .stake__text {
    font-size: 22px;
  }

  .stake__text button {
    cursor: pointer;
  }

  .stake__slide {
    display: flex;
    overflow: hidden;
    padding: 33px 0;
    transform: rotate(-10deg);
    position: relative;
  }

  .stake__logos {
    display: flex;
    width: 100%;
    animation: 5s move reverse linear infinite;
    white-space: nowrap;
  }
  .stake__item {
    height: 90px;
    width: 80px;
    margin: 0 30px;
    display: inline-block;
  }
}

@keyframes move {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
